$color-main: #3F51B5;
$color-accent: #E81919;
$color-text: #333333;

$layout-width-inner: 1200px;

$breakpoints: (
  'sp': 'screen and (max-width: 767px)',
  'tab': '(min-width: 767px) and (max-width: #{$layout-width-inner})',
  'pc': 'screen and (min-width: 768px)',
);

//メディアクエリ
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// リセット？
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, 
body {
  padding: 0;
  margin: 0;
}

body{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
}

img {
  max-width: 100%;
  height: auto;
}