@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  background-color: #3F51B5;
  height: 100px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0.3px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0.3px 3px rgba(0, 0, 0, 0.16);
  z-index: 100;
  top: 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.header__logo {
  width: 205px;
}

.header__logo img {
  display: block;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header__nav li:not(:first-child) {
  margin-left: 40px;
}

.header__nav li a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.header__nav li a.is-active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #E81919;
}

.main-visual {
  height: 600px;
  background: url(../img/mainvisual.png) no-repeat center center/cover;
  position: relative;
}

.main-visual__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.main-visual__title {
  font-size: 64px;
  font-weight: bold;
}

.main-visual__lead {
  font-size: 24px;
  font-weight: bold;
  margin-top: 24px;
}

.main-visual__button {
  margin-top: 36px;
}

.main-visual__button a {
  display: inline-block;
  width: 390px;
  height: 83px;
  line-height: 83px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #3F51B5;
  border-radius: 8px;
  text-decoration: none;
}

.card {
  background: #efefef;
  padding: 100px 0 120px;
}

.card__head {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 28px;
  position: relative;
}

.card__head::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 60px;
  height: 4px;
  background: #3F51B5;
}

.card__items {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__item {
  width: calc(33.3% - 24px * 2 / 3);
  background: #fff;
  padding: 16px;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .card__item:not(:nth-child(3n + 1)) {
    margin-left: 24px;
  }
  .card__item:nth-child(n + 4) {
    margin-top: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .card__item {
    width: calc(50% - 24px * 1 / 2);
  }
  .card__item:not(:nth-child(2n + 1)) {
    margin-left: 24px;
  }
  .card__item:nth-child(n + 3) {
    margin-top: 24px;
  }
}

.card__img {
  text-align: center;
}

.card__img img {
  width: 100%;
}

.card__title {
  font-size: 20px;
  font-weight: bold;
  color: #6F7579;
  margin-top: 14px;
}

.card__text {
  margin-top: 14px;
  font-size: 16px;
  font-weight: bold;
  color: #6F7579;
  line-height: 1.5;
}
/*# sourceMappingURL=style.css.map */