$color-main: #3F51B5;
$color-accent: #E81919;
$color-text: #333333;

$layout-width-inner: 1200px;

$breakpoints: (
  'sp': 'screen and (max-width: 767px)',
  "tab":"(min-width: 768px) and (max-width: #{$layout-width-inner})",
  'pc': 'screen and (min-width: 768px)',
);

//メディアクエリ
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// リセット？
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  // bodyに対してのカラーテキストを当てる
  color: $color-text;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.inner {
  width: $layout-width-inner;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  background-color: $color-main;
  height: 100px;
  position: fixed;
  width: 100%;
  box-shadow: 0.3px 3px rgba(#000, 0.16);
  z-index: 100;
  top: 0;
}

.header__inner {
  display: flex;
  align-items: center;
  //height 親要素の高さを継承(header)
  height: inherit;
}

.header__logo {
  width: 205px;
  img {
    display: block;
  }
}

.header__nav {
  //header navとinnerに
  display: flex;
  align-items: center;
  //左側から並べる
  margin-left: auto;
  li {
    &:not(:first-child) {
      margin-left: 40px;
    }
    a {
      color: #fff;
      text-decoration: none;
      position: relative;

      //positon relativeとabsoluteで表現 疑似要素
      &.is-active {
        &::after {
          content: "";
          position: absolute;
          bottom: -8px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $color-accent;
        }
      }
    }
  }
}

// main-visual 

.main-visual {
  height: 600px;
  // background-imgではなくbackgroundで設定
  background: url(../img/mainvisual.png) no-repeat center center / cover;
  // 親要素をposition relative
  position: relative;
}

.main-visual__content {
  // 子要素をposiion absolute
  position: absolute;
  // top 50%, left 50%でtransform translate(-50%, -50%)で要素を中央に！
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-visual__title {
  font-size: 64px;
  font-weight: bold;
}

.main-visual__lead {
  font-size: 24px;
  font-weight: bold;
  margin-top: 24px;
}

.main-visual__button {
  margin-top: 36px;

  a {
    display: inline-block;
    width: 390px;
    height: 83px;
    line-height: 83px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background: $color-main;
    border-radius: 8px;
    text-decoration: none;
  }
}

// cardセクション

.card {
  background: #efefef;
  padding: 100px 0 120px;
}

.card__inner {

}

.card__head {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  // 24pxの余白とバーの太さが4px = 28px
  padding-bottom: 28px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    // X軸の中央寄せ
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 60px;
    height: 4px;
    background: $color-main;
  }
}

.card__items {
  margin-top: 80px;
  display: flex;
  // display flex複数ある時はflex-wrapを使う
  flex-wrap: wrap;
  
}

.card__item {
  // ３等分 余白24px
  width: calc(33.3% - 24px * 2 / 3);
  // 3の倍数のカードはmargin-leftを適用されないようにする
  background: #fff;
  padding: 16px;
  border-radius: 4px;

  @include mq('pc') {
    &:not(:nth-child(3n + 1)) {
      margin-left: 24px;
    }

    // ２行目以降のカードに上の余白をつける
    &:nth-child(n + 4) {
      margin-top: 24px;
    }
  }


  @include mq('tab') {
    // 50%のスペース、余白１を２つのコンテンツで分ける
    width: calc(50% - 24px * 1 / 2);

    &:not(:nth-child(2n + 1)) {
      margin-left: 24px;
    }

    &:nth-child(n + 3) {
      margin-top: 24px;
    }
  }
}

.card__img {
  text-align: center;
  img {
    width: 100%;
  }
}

.card__title {
  font-size: 20px;
  font-weight: bold;
  color: #6F7579;
  margin-top: 14px;
}

.card__text {
  margin-top: 14px;
  font-size: 16px;
  font-weight: bold;
  color: #6F7579; 
  // ２行以上の文はline heightを意識する (line-height/ font-size)デザインカンプから読み取る
  line-height: (24 / 16);

}